{% extends "base.html" %}
{% block content %}
  <div class="main-container">
    <div>
        Name: {{ beer.name }}<br>
        ABV: {{ beer.abv }}%
        {% if beer.ibu %}
        <br>IBU: {{ beer.ibu }}
        {% endif %}
    </div>

    <div style="margin-top: 20px;">
      Brewed by:
      <ul>
          {% for br in beer.breweries.all %}<li><a href="{% url 'brewery_detail' br.id %}">{{ br.name }}</a></li>{% endfor %}
      </ul>
    </div>

    <div>
      Hops:
      <ul>
          {% for h in beer.hops.all %}<li><a href="{% url 'hops_detail' h.id %}">{{ h.name }}</a></li>{% endfor %}
      </ul>
    </div>

    {% include "beers/scores.html" %}
  </div>

    {% include "beers/predictions.html" %}
{% endblock content %}
