{% block content %}
    {% if user_rating.avg %}
        <div>
            Your Rating
            <div>
            Avg Score: {{ user_rating.avg | floatformat:2 }}<br>
            Review Count: {{user_rating.count }}
            </div>
        </div>
    {% endif %}

    <div style="margin-top: 20px;">
        All Ratings
        <div>
            Avg Score: {{ ratings.avg | floatformat:2 }}<br>
            Std Dev: {{ ratings.stdev | floatformat:2 }}<br>
            Review Count: {{ ratings.count }}
        </div>
    </div>
{% endblock content %}
