{% block content %}
    <div>
        Your Rating
        <div>
        {% if user_rating.avg %}
        Avg Score: {{ user_rating.avg | floatformat:2 }}<br>
        {% endif %}
        Review Count: {{user_rating.count }}
        </div>
    </div>
    
    <div style="margin-top: 20px;">
        All Ratings
        <div>
            {% if ratings.avg %}
            Avg Score: {{ ratings.avg | floatformat:2 }}<br>
            {% endif %}
            {% if ratings.stdev %}
            Std Dev: {{ ratings.stdev | floatformat:2 }}<br>
            {% endif %}
            Review Count: {{ ratings.count }}
        </div>
    </div>
{% endblock content %}
